extends layout

block content
  h1 Figure
  h2= name

  div
    a(href="/figures/list/figures") Back
  if box
    div In box #{box.box}
  div
    a(href="/figures/add/note?id=#{figure}") +note
    ul
      each note, i in notes
        li
          div !{note.note.replace(/\n/g, '<br/>')}
            = " "
            a(href="javascript:if (window.confirm('Really remove?')) window.location.assign('/figures/remove/note?id=#{note._id}&figureid=#{figure}')") -
  div
    form#formAddTag(name="tagform",method="post",action="/figures/add/tag")
      input(type="text",placeholder="add tag",name="tag")
      input(type="hidden",name="figureid",value="#{figure}")
    ul
      each tag, i in tags
        li
          div
            a(href="/figures/list/tag?tags=#{tag}") !{tag}
            = " "
            a(href="javascript:if (window.confirm('Really remove?')) window.location.assign('/figures/remove/tag?tag=#{tag}&figureid=#{figure}')") -
  div#images
    a(href="/figures/add/image?id=#{figure}") +image
    ul
      each item, i in images
        li
          img(src="/figures/list/image?id=#{item}")
          a(href="javascript:if (window.confirm('Really remove?')) window.location.assign('/figures/remove/image?id=#{item}&figureid=#{figure}')") -

  if mfcid
    a(href='http://myfigurecollection.net/item/#{mfcid}') mfc

  script.
    var form = document.getElementById("formAddTag");
    form.onkeypress = function(e) {
      if (e.keyCode === 13)
        form.submit();
    };

    var queryId = function(u) {
      var qs = function(u) {
        var qm = u.indexOf('?');
        if (qm == -1)
          return {};
        var a = u.substr(qm + 1).split('&');

        if (!a.length) return {};
        var b = {};
        for (var i = 0; i < a.length; ++i)
        {
          var p=a[i].split('=', 2);
          if (p.length == 1)
            b[p[0]] = "";
          else
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
        }
        return b;
      };
      return qs(u)["id"];
    };

    (function() {
      var imgs = document.querySelectorAll('#images img');
      var dragging = null;

      this.handleDragStart = function(e) {
        dragging = this;
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/uri-list', this.src);
        e.dataTransfer.setData('text/plain', this.src);
      };
      this.handleDragOver = function(e) {
        if (e.preventDefault)
          e.preventDefault();

        e.dataTransfer.dropEffect = 'move';

        return false;
      };
      this.handleDrop = function(e) {
        if (e.stopPropagation)
          e.stopPropagation();

        if (dragging != this) {
          var figid = queryId(window.location.toString());
          var fromid = queryId(e.dataTransfer.getData('text/uri-list'));
          var toid = queryId(this.src);
          window.location.assign("/figures/mod/figureimage?id=" + figid + "&from=" + fromid + "&to=" + toid);
        }

        return false;
      };

      [].forEach.call(imgs, function(img) {
        img.setAttribute('draggable', true);
        img.addEventListener('dragstart', this.handleDragStart, false);
        img.addEventListener('dragover', this.handleDragOver, false);
        img.addEventListener('drop', this.handleDrop, false);
      });
    })();
