each item, i in boxes
  li
    div !{item.box.replace(/\n/g, '<br/>')}
      a(href="javascript:if (window.confirm('Really remove?')) window.location.assign('/figures/remove/box?id=#{item._id}')") -
      a(href="/figures/add/boxfigure?id=#{item._id}") +
    ul
      each fig, i in item.figures
        li
          a(href="/figures/list/figure?id=#{fig.toHexString()}" onmouseenter="showImage('#{fig.toHexString()}')" onmouseleave="hideImage()") !{figures[fig.toHexString()].name}
          = ' '
          a(href="javascript:if (window.confirm('Really remove?')) window.location.assign('/figures/remove/boxfigure?id=#{item._id}&figureid=#{fig}')") -
