extends layout

block content
  h1 Figure
  h2= name

  a(href="/figures/add/image?id=#{figure}") +
  each item, i in images
    li
      img(src="/figures/list/image?id=#{item}")
      a(href="/figures/remove/image?id=#{item}&figureid=#{figure}") -
